.not-events-found {
    height: 100%;
    width: 100%;
}

.not-padding{
    padding: 0px !important;
}

h2 {
    text-align: center
}

p {
    text-align: center
}

.details-container {
    background-color: white;
}