<div class="main-container">
  <div class="clr-row clr-justify-content-center full-height clr-align-items-center blue-mosaic-color">
    <div class="clr-col-sm-12 clr-col-md-6 clr-col-lg-4 login-container clr-align-self-center clr-justify-content-center">
      <clr-alerts>
        <clr-alert *ngFor="let message of messages" [clrAlertType]="message.type" [clrAlertAppLevel]="true">
          <div class="alert-item">
            <span class="alert-text">
              {{message.text}}
            </span>
          </div>
        </clr-alert>
      </clr-alerts>

      <section class="title">
        <h3 class="full-width">Bienvenido de nuevo a</h3>
        <h1 class="full-width">OnTime</h1>
        <h5 class="hint full-width">Utiliza tu email y contraseña para iniciar sesión</h5>
      </section>
        <br />
        <br />
        <input type="text" id="emailField" placeholder="Email" class="full-width input-45p" [(ngModel)]="user.email">
        <input type="password" id="passwordField" placeholder="Contraseña" class="full-width input-45p" [(ngModel)]="user.password">
        <br />
        <br />
        <button class="btn-block btn btn-primary" (click)="onLogin()">Iniciar</button>
        <br />
        <a href="register" class="signup">No tengo una cuenta</a>
    </div>
  </div>
</div>