/* You can add global styles to this file, and also import other style files */
.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.blue-mosaic-color {
    background-color: #007cbb;
}

.input-45p {
    height: 3em !important;
}

.padding {
    padding: 2em !important;
}

.col-center-text {
    text-align: center;
}